
/*
    - MOBILE -
*/
@media screen and (min-width: 376px) {
  body {
    color:black;
  }
}

/*
    - Tablet -
*/
@media screen and (min-width: 768px) {

}

/*
    - Laptop -
*/
@media screen and (min-width: 1024px) {

}

/*
    - Large Screen -
*/
@media screen and (min-width: 1366px) {

}