@import 'normalize';
@import 'fonts';
@import 'variables';

body {
  width: 100%;
}

/*
    - BUTTONS -
*/
.btn {
  font-family: 'ArchyEDT-Bold', sans-serif;
  font-size: 16px ;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  padding: 8px 12px;
  margin: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  &.btn-primary {
    color: white;
    background-color: $main-color;
    &:hover {
      color: $main-color;
      background-color: white;
    }
  }
  &.btn-secondary {
    color: white;
    background-color: $bg-color;
    &:hover {
      color: $bg-color;
      background-color: white;
    }
  }
  &.btn-light {
    color: $main-color;
    background-color: white;
    &:hover {
      color: white;
      background-color: $main-color;
    }
  }
  &.btn-primary:active,
  &.btn-light:active,
  &.btn-secondary:active,
  &.btn-light:active {
    box-shadow: 0 0 0 ;
    transition: all 0.1s ease-out;
  }
}

/*
    - Text -
 */

h1 {
  text-align: center;
  font-family: 'ArchyEDT-Bold', sans-serif;
  margin: 10px;
  color: var(--main-bg-color);
}

h2 {
  text-align: center;
  font-family: 'BPG Nateli Mtavruli', sans-serif;
  font-weight: 100;
  margin: 5px;
  color: var(--main-bg-color);
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 3px;
  color: var(--main-bg-color);
}

.main-title {
  font-size: 60px;
  margin: 0;
}

.main-title, .main-head {
  color: #fff;
}

.main-subtitle {
  color: $main-color;
}

p {
  font-family: 'BPG Nateli Mtavruli', sans-serif;
  font-size: 15px;
  text-align:center ;
}


/*
     - NAVIGATION -
*/
.nav-main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: $nav-height;
  background-color: #fafafa;
  padding: 10px;
}

.nav-logo {
  height: 48px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 8px;
  padding: 9px;
  align-self: center;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    background-color: $bg-color;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  &:hover .cls-1 {
    fill: #fff;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
}

/*
    - SECTIONS -
*/
.section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 30px;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  &.section-main {
    height: 500px;
  }
  &.section-order {
    background-color: $bg-color;
    div {
      margin: 0 20px;
    }
    h1 {
      color: white;
    }
    h2 {
      color: $main-color;
    }
    .text-container {
      width: 600px;
    }
    .form-container {
      margin-top: 20px;
      width: 400px;
      $border-radius: 4px;
      border-radius: $border-radius;
      background-color: #fff;
      padding: 0 0 10px 0;
      .form {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        input {
          width: 80%;
          margin: 10px 20px;
          height: 40px;
          font-size: 18px;
          font-family: 'BPG Nateli Mtavruli', sans-serif;
          border: 1px solid grey;
          border-radius: $border-radius;
          padding-left: 10px;
          &:focus {
            outline: none;
            border-color: $main-color;
            box-shadow: 0 0 8px $main-color;
          }
          &.error {
            outline: none;
            border-color: red;
            box-shadow: 0 0 8px red;
          }
        }
      }
      .form-header {
        margin: 0 0 20px 0;
        background-color: $main-color;
        border-radius: $border-radius $border-radius 0 0;
        h1 {
          text-align: center;
          padding: 10px;
          margin: 0;
        }
      }
    }
  }
  * {
    z-index: 9;
  }
}
/*
    - MAIN SECTION (BANNER) -
*/
.background-image {
  width: 110%;
  height: 110%;
  left: 0;
  top: 0;
  position: absolute;
  background: url("../images/chair-cutlery-diner-941861.jpg") no-repeat left center / cover;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.42;
  }
}

.banner-container {
  pointer-events: none;
}

.section-title {
  margin: 10px 0;
  font-size: 2em;
}

.section-subtitle {
  margin: 0 0 10px 0;
  font-size: 1.5em;
}

.low-banner {
  background: white url("../images/bg-moving.png");
  width: 100%;
  margin: 0;
  text-align: center;
  height: 100px;
  padding-top: 120px;
  box-sizing: border-box;
  -webkit-animation: slide 60s linear infinite;
}

@-webkit-keyframes slide {
  from { background-position: 0 0; }
  to { background-position: -400px 0; }
}

/*
    - FEATURES SECTION
*/

.feature-container {
  margin: 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.feature {
  background: #fff;
  border-radius: 10px;
  margin: 1rem 1rem 50px 1rem;
  position: relative;
  padding: 20px;
  box-shadow: rgba(40, 30, 20, 0.1) 0 3px 35px 0.6px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  flex-basis: 500px;
  height: 250px;
  &:hover {
    background-color: #fafafa;
    box-shadow: rgba(19, 18, 18, 0.5) 0px 5px 20px -8px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  &:hover .card-img-cont {
    background-color: vaR(--main-bg-color);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .feature-title {
    color: $main-color;
    padding-top: 10px;
    font-size: 27px;
  }
}


.card-img-cont {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #fff;
  padding: 14px;
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -30px;
  width: 60px !important;
  height: 60px;
  box-shadow: rgba(40, 30, 20, 0.1) 0px 3px 35px 0.6px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-img-cont img:first-child {
  width:100%;
  height: 100%;
  align-self: center;
}



/*
    - MOBILE -
*/
@media screen and (max-width: 375px) {

}
/*
    - Tablet -
*/
@media screen and (max-width: 768px) {

}

/*
    - Laptop -
*/
@media screen and (max-width: 1024px) {
  .section {
    &.section-features {
      margin-bottom: 0;
      padding:  30px 0 0 0;
    }
  }
  .feature-container {
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 0;
    justify-content: left;
    padding-top: 30px;
    margin-top: 0;
    &feature:last-child {
      margin-right: 30px;
    }
  }
  .feature-container::-webkit-scrollbar {
    display: none;
  }
  .feature {
    margin: 30px;
    flex: 0 0 auto;
    width: 80%;
  }
}


/*
    - Large Screen -
*/
@media screen and (max-width: 1366px) {

}

