/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: local("Poppins Light"), local("Poppins-Light"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLDz8Z11lFd2JQEl8qw.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: local("Poppins Light"), local("Poppins-Light"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLDz8Z1JlFd2JQEl8qw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: local("Poppins Light"), local("Poppins-Light"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLDz8Z1xlFd2JQEk.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local("Poppins Medium"), local("Poppins-Medium"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLGT9Z11lFd2JQEl8qw.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local("Poppins Medium"), local("Poppins-Medium"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLGT9Z1JlFd2JQEl8qw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local("Poppins Medium"), local("Poppins-Medium"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "ArchyEDT-Bold";
  src: url("../fonts/archyedt-bold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/archyedt-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/archyedt-bold-webfont.woff2") format("woff2"), url("../fonts/archyedt-bold-webfont.woff") format("woff"), url("../fonts/archyedt-bold-webfont.ttf") format("truetype"), url("../fonts/archyedt-bold-webfont.svg#archyedt-bold") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "BPG Nateli Mtavruli";
  src: url("../fonts/bpg-nateli-mtavruli-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/bpg-nateli-mtavruli-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bpg-nateli-mtavruli-webfont.woff2") format("woff2"), url("../fonts/bpg-nateli-mtavruli-webfont.woff") format("woff"), url("../fonts/bpg-nateli-mtavruli-webfont.ttf") format("truetype"), url("../fonts/bpg-nateli-mtavruli-webfont.svg#bpg_nateli_mtavruliregular") format("svg");
  /* Legacy iOS */
}
body {
  width: 100%;
}

/*
    - BUTTONS -
*/
.btn {
  font-family: "ArchyEDT-Bold", sans-serif;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  padding: 8px 12px;
  margin: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.btn:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.btn.btn-primary {
  color: white;
  background-color: #02ADB5;
}
.btn.btn-primary:hover {
  color: #02ADB5;
  background-color: white;
}
.btn.btn-secondary {
  color: white;
  background-color: #03121A;
}
.btn.btn-secondary:hover {
  color: #03121A;
  background-color: white;
}
.btn.btn-light {
  color: #02ADB5;
  background-color: white;
}
.btn.btn-light:hover {
  color: white;
  background-color: #02ADB5;
}
.btn.btn-primary:active, .btn.btn-light:active, .btn.btn-secondary:active, .btn.btn-light:active {
  box-shadow: 0 0 0;
  transition: all 0.1s ease-out;
}

/*
    - Text -
 */
h1 {
  text-align: center;
  font-family: "ArchyEDT-Bold", sans-serif;
  margin: 10px;
  color: var(--main-bg-color);
}

h2 {
  text-align: center;
  font-family: "BPG Nateli Mtavruli", sans-serif;
  font-weight: 100;
  margin: 5px;
  color: var(--main-bg-color);
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 3px;
  color: var(--main-bg-color);
}

.main-title {
  font-size: 60px;
  margin: 0;
}

.main-title, .main-head {
  color: #fff;
}

.main-subtitle {
  color: #02ADB5;
}

p {
  font-family: "BPG Nateli Mtavruli", sans-serif;
  font-size: 15px;
  text-align: center;
}

/*
     - NAVIGATION -
*/
.nav-main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 68px;
  background-color: #fafafa;
  padding: 10px;
}

.nav-logo {
  height: 48px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  padding: 9px;
  align-self: center;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.nav-logo:hover {
  background-color: #03121A;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.nav-logo:hover .cls-1 {
  fill: #fff;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/*
    - SECTIONS -
*/
.section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 30px;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
.section.section-main {
  height: 500px;
}
.section.section-order {
  background-color: #03121A;
}
.section.section-order div {
  margin: 0 20px;
}
.section.section-order h1 {
  color: white;
}
.section.section-order h2 {
  color: #02ADB5;
}
.section.section-order .text-container {
  width: 600px;
}
.section.section-order .form-container {
  margin-top: 20px;
  width: 400px;
  border-radius: 4px;
  background-color: #fff;
  padding: 0 0 10px 0;
}
.section.section-order .form-container .form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.section.section-order .form-container .form input {
  width: 80%;
  margin: 10px 20px;
  height: 40px;
  font-size: 18px;
  font-family: "BPG Nateli Mtavruli", sans-serif;
  border: 1px solid grey;
  border-radius: 4px;
  padding-left: 10px;
}
.section.section-order .form-container .form input:focus {
  outline: none;
  border-color: #02ADB5;
  box-shadow: 0 0 8px #02ADB5;
}
.section.section-order .form-container .form input.error {
  outline: none;
  border-color: red;
  box-shadow: 0 0 8px red;
}
.section.section-order .form-container .form-header {
  margin: 0 0 20px 0;
  background-color: #02ADB5;
  border-radius: 4px 4px 0 0;
}
.section.section-order .form-container .form-header h1 {
  text-align: center;
  padding: 10px;
  margin: 0;
}
.section * {
  z-index: 9;
}

/*
    - MAIN SECTION (BANNER) -
*/
.background-image {
  width: 110%;
  height: 110%;
  left: 0;
  top: 0;
  position: absolute;
  background: url("../images/chair-cutlery-diner-941861.jpg") no-repeat left center/cover;
}
.background-image:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.42;
}

.banner-container {
  pointer-events: none;
}

.section-title {
  margin: 10px 0;
  font-size: 2em;
}

.section-subtitle {
  margin: 0 0 10px 0;
  font-size: 1.5em;
}

.low-banner {
  background: white url("../images/bg-moving.png");
  width: 100%;
  margin: 0;
  text-align: center;
  height: 100px;
  padding-top: 120px;
  box-sizing: border-box;
  -webkit-animation: slide 60s linear infinite;
}

@-webkit-keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -400px 0;
  }
}
/*
    - FEATURES SECTION
*/
.feature-container {
  margin: 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.feature {
  background: #fff;
  border-radius: 10px;
  margin: 1rem 1rem 50px 1rem;
  position: relative;
  padding: 20px;
  box-shadow: rgba(40, 30, 20, 0.1) 0 3px 35px 0.6px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  flex-basis: 500px;
  height: 250px;
}
.feature:hover {
  background-color: #fafafa;
  box-shadow: rgba(19, 18, 18, 0.5) 0px 5px 20px -8px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.feature:hover .card-img-cont {
  background-color: vaR(--main-bg-color);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.feature .feature-title {
  color: #02ADB5;
  padding-top: 10px;
  font-size: 27px;
}

.card-img-cont {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #fff;
  padding: 14px;
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -30px;
  width: 60px !important;
  height: 60px;
  box-shadow: rgba(40, 30, 20, 0.1) 0px 3px 35px 0.6px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-img-cont img:first-child {
  width: 100%;
  height: 100%;
  align-self: center;
}

/*
    - MOBILE -
*/
/*
    - Tablet -
*/
/*
    - Laptop -
*/
@media screen and (max-width: 1024px) {
  .section.section-features {
    margin-bottom: 0;
    padding: 30px 0 0 0;
  }

  .feature-container {
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 0;
    justify-content: left;
    padding-top: 30px;
    margin-top: 0;
  }
  .feature-containerfeature:last-child {
    margin-right: 30px;
  }

  .feature-container::-webkit-scrollbar {
    display: none;
  }

  .feature {
    margin: 30px;
    flex: 0 0 auto;
    width: 80%;
  }
}
/*
    - Large Screen -
*/

/*# sourceMappingURL=app.css.map */
