:root {
    --main-bg-color: #03121A;
    --main-color: #02ADB5;
}

/*.main-nav {*/
    /*display: flex;*/
    /*flex-flow: row nowrap;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*height: 68px;*/
    /*background-color: #fafafa;*/
    /*padding: 10px;*/
/*}*/

/*.nav-logo {*/
    /*height: 48px;*/
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
    /*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
    /*border-radius: 8px;*/
    /*padding: 9px;*/
    /*align-self: baseline;*/

/*}*/

/*.nav-logo:hover {*/
    /*background-color: var(--main-bg-color);*/
    /*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
/*}*/

/*.nav-logo:hover  .cls-1 {*/
    /*fill: #fff;*/
    /*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
/*}*/

/*.logo-a {*/
    /*align-self: baseline;*/
/*}*/

/*.btn {*/
    /*cursor: pointer;*/
    /*font-family: 'ArchyEDT-Bold', sans-serif;*/
    /*color: #fff;*/
    /*font-size: 16px ;*/
    /*border:0;*/
    /*padding: 8px;*/
    /*border-radius: 4px;*/
    /*background-color: var(--main-color);*/
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
    /*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
/*}*/

/*.btn:hover {*/
    /*background-color: transparent;*/
    /*color: var(--main-color);*/
    /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
    /*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
/*}*/

/*.btn:active {*/
    /*box-shadow: 0 0 0 rgba(0,0,0,0.12), 0 0 0 rgba(0,0,0,0.24);*/
    /*transition: all 0.1s cubic-bezier(.25,.8,.25,1);*/
/*}*/

/*.btn.btn-nav {*/
    /*align-self: center;*/
    /*margin-left: 10px;*/
/*}*/

/*.btn.btn-banner {*/
    /*background-color: #fff;*/
    /*color: var(--main-color);*/
    /*width: 85px;*/
/*}*/

/*.btn.btn-banner:hover {*/
    /*background-color: transparent;*/
    /*width: 85px;*/
    /*color: #fff;*/
/*}*/




@media screen {
    
}



/*.background-image {*/
    /*width: 110%;*/
    /*height: 110%;*/
    /*left: 0;*/
    /*top: 0;*/
    /*position: absolute;*/
    /*background: url("../images/chair-cutlery-diner-941861.jpg") no-repeat left center / cover;*/
/*}*/

/*.background-image:before {*/
     /*content: '';*/
     /*position: absolute;*/
     /*top: 0;*/
     /*right: 0;*/
     /*bottom: 0;*/
     /*left: 0;*/
     /*background: #000;*/
    /*opacity: 0.42;*/
 /*}*/

/*.low-banner {*/
    /*background: white url("../images/bg-moving.png");*/
    /*width: 100%;*/
    /*margin: 0;*/
    /*text-align: center;*/
    /*height: 100px;*/
    /*padding-top: 120px;*/
    /*box-sizing: border-box;*/
    /*-webkit-animation: slide 60s linear infinite;*/
/*}*/

/*@-webkit-keyframes slide {*/
    /*from { background-position: 0 0; }*/
    /*to { background-position: -400px 0; }*/
/*}*/

/*.features {*/
    /*display: flex;*/
    /*flex-flow: column nowrap;*/
    /*align-items: center;*/
    /*min-height: 100%;*/
/*}*/


/*.feature-container {*/
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*width: 100%;*/
/*}*/

/*.feature {*/
    /*background: #fff;*/
    /*border-radius: 10px;*/
    /*display: inline-block;*/
    /*margin: 1rem 1rem 50px 1rem;*/
    /*position: relative;*/
    /*padding: 20px;*/
    /*width: 300px;*/
    /*box-shadow: rgba(40, 30, 20, 0.1) 0px 3px 35px 0.6px;*/
    /*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
/*}*/

/*.feature:hover {*/
    /*background-color: #fafafa;*/
    /*box-shadow: rgba(19, 18, 18, 0.5) 0px 5px 20px -8px;*/
    /*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
/*}*/

/*.feature:hover .card-img-cont {*/
    /*background-color: vaR(--main-bg-color);*/
    /*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
/*}*/





/*.feature p:nth-child(3) {*/
    /*font-family: 'BPG Nateli Mtavruli', sans-serif;*/
    /*font-size: 15px;*/
    /*text-align:center ;*/

/*}*/



section {
    padding: 30px;
}

section.order {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
}

.order-container {
    display: flex;
    width: 90%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

section.order h1:first-child {
    color: #fff;
    text-align: left;
}

.text-container {
    width: 70%;
}

.form-container {
    width: 30%;
}
section.order h2:nth-child(2) {
    text-align: left;
    color: var(--main-color);
}

.form-container {
    background: #fff;
    border-radius: 10px;
    display: inline-block;
    margin: 1rem 1rem 1rem 1rem;
    position: relative;
    width: 300px;
    box-shadow: rgba(40, 30, 20, 0.1) 0px 3px 35px 0.6px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.header {
    background-color: var(--main-color);
    height: 50px;
    border-radius: 10px 10px 0 0 ;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 0;
}

.form-header {
    padding: 10px;
    margin:0;
    text-align: center;
    font-size: 20px;
}

.form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

input  {
    margin-top: 10px;
}

.btn-form {
    margin: 10px;
}

.input-icon-wrap {
    border: 1px solid #ddd;
    display: flex;
    flex-direction: row;
}

.input-icon {
    background: #ddd;
}

.input-with-icon {
    border: none;
    flex: 1;
}

.input-icon, .input-with-icon {
    padding: 10px;
}



input[type=text]{
    font-family: 'BPG Nateli Mtavruli', sans-serif;
    width:100%;
    border:1px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
}

input[type=text]:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
}

.inputWithIcon input[type=text]{
    padding-left:40px;
}

.inputWithIcon{
    position:relative;
    width: 80%;
}

.inputWithIcon i{
    position:absolute;
    left:0;
    top:8px;
    padding:9px 8px;
    color:#aaa;
    transition:.3s;
}

.inputWithIcon input[type=text]:focus + i{
    color:dodgerBlue;
}

.inputWithIcon.inputIconBg i{
    background-color:#aaa;
    color:#fff;
    padding:9px 4px;
    border-radius:4px 0 0 4px;
}

.inputWithIcon.inputIconBg input[type=text]:focus + i{
    color:#fff;
    background-color:dodgerBlue;
}
